body {
    background-color:black;
    color: lightgray;
}

h1 {
    font-family: helvetica;
    font-size: 40px;
    margin: 100px;
  }

  p {
    font-family: helvetica;
    font-size: 30px;
    margin: 100px;
  }
 