
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }

  body {
    background-color: lightblue;
    color: green;
}

h1 {
    font-family: helvetica;
    font-size: 40px;
    margin: 100px;
  }

  p {
    font-family: helvetica;
    /*font-size: 30px;
    margin: 100px;*/
  }
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }